<div class="container">
  <div class="row">
   <div class="col-xs-6 offset-xs-3">
    {{input value=value key-up=(action 'handleMagicEntry') placeholder="Type for magic here! (i.e: patients with appointment today)" id="nimbus-search" class="input-group input-group-lg text-xs-center"}}
   </div>
  </div>
</div>
