<form class="form-inline">
    <div class="form-group">
    {{simple-dropdown options=conditionTypes active=activeConditionType action='selectConditionType'}}
    </div>
  {{#unless selectCondition}}
    {{component conditionBuilderComponent condition=condition class='form-group'}}
  {{/unless}}
</form>
