<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        {{!-- loop thru the keys and a header for each key --}}
        {{#each properties as |prop|}}
          <th>
            <td>{{prop}}</td>
          </th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{!-- one row for each model object --}}
      {{#each data as |record|}}
      <tr>
        {{!-- and one column for each model value --}}
        {{#each-in record as |key value|}}
          <td>{{value}}</td>
        {{/each-in}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
