<div id="nimbus-nav" class="navbar text-xs-center">
  <nav class="navbar">
    <h1>ENTER THE NIMBUS <img src={{'images/nimbus_icon.png'}} alt="nimbus"></h1>

  </nav>
</div>

<div class="container">

  {{query-builder action="getResult"}}

  {{outlet}}
</div>
